<link rel="stylesheet" type="text/css" href="../css/panel.css">
<div class="admin-panel row">
  {{{{raw-helper}}}}
  <a class="col-md-3" href="/departments">
    <div>
      <p class="panel-heading">Departments</p>
      <p class="count">{{stats.department_count}}</p>
    <div>
  </a>
  <a class="col-md-3" href="/agents">
    <div>
      <p class="panel-heading">Agents</p>
      <p class="count">{{stats.agents_count}}</p>
    </div>
  </a>
  <a class="col-md-3" href="/workflows">
    <div>
      <p class="panel-heading">Workflow Configure</p>
      <p class="count">{{stats.workflow_configure_count}}</p>
    </div>
  </a>
  <a class="col-md-3" href="/tasks">
    <div>
      <p class="panel-heading">Task Configure</p>
      <p class="count">{{stats.tasks_configure_count}}</p>
    </div>
  </a>
  {{{{/raw-helper}}}}
</div>
