{{{{raw-helper}}}}
<div ng-controller="registerController">
  <form class="form-signin" ng-submit="processSignin()" ng-show="signinState">
    <h2 class="form-signin-heading">Sign in</h2>
    <div class="form-group account-type">
      <select class="form-control" ng-model="formSigninData.account_type">
        <option value="">Select account type</option>
        <option value="agent">Agent</option>
        <option value="resident">Resident</option>
      </select>
    </div>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" ng-model="formSigninData.email" class="form-control first" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" ng-model="formSigninData.password" id="inputPassword" class="form-control last" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me" ng-checked="formSigninData.rmbme"> Remember me
      </label>
    </div>
    <p class="msg-helper">Don't have an account? <a ng-click="showSignup()">Sign up</a></p>
    <div class="alert alert-danger" ng-show="errMessageShow">
      <span ng-bind="errMessage"></span>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
  <form class="form-signup" ng-submit="processSignup()" ng-show="signupState">
    <h2 class="form-signup-heading">Sign up</h2>
    <div class="form-group account-type">
      <select class="form-control" ng-model="formSignupData.account_type">
        <option value="">Select account type</option>
        <option value="agent">Agent</option>
        <option value="resident">Resident</option>
      </select>
    </div>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" ng-model="formSignupData.email" class="form-control first" placeholder="Email address" required autofocus>
    <div>
      <label for="inputPhone" class="sr-only">Phone Number</label>
      <input type="text" id="inputPhone" ng-model="formSignupData.phone" ui-mask="1-999-999-9999" class="form-control" ui-mask-placeholder ui-mask-placeholder-char="_">
    </div>
    <label for="inputFirstName" class="sr-only">First name</label>
    <input type="text" id="inputFirstName" ng-model="formSignupData.firstName" class="form-control" placeholder="First name" required>
    <label for="inputLastName" class="sr-only">Last name</label>
    <input type="text" id="inputLastName" ng-model="formSignupData.lastName" class="form-control" placeholder="Last name" required>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" ng-model="formSignupData.password" class="form-control" placeholder="Password" required>
    <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
    <input type="password" id="inputConfirmPassword" ng-model="formSignupData.confirm_password" class="form-control last" placeholder="Confirmed Password" required>
    <p class="error" ng-show="errorState">{{errorMessage}}</p>
    <p class="msg-helper">Already has an account? <a ng-click="showSignin()">Sign in</a></p>
    <div class="alert alert-danger" ng-show="errMessageShow">
      <span ng-bind="errMessage"></span>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
  </form>
  <form class="form-membership" ng-submit="processMembership()" ng-show="membershipState">
    <h2 class="form-membership-heading">Register membership</h2>
    <div class="form-group departments">
      <select class="form-control" ng-model="formMembershipData.department">
        <option value="">Select department</option>
        <option ng-repeat="department in departments" value={{department.id}}>{{department.unique_code}}</option>
      </select>
    </div>
    <div class="form-group offices">
      <select class="form-control" ng-model="formMembershipData.office">
        <option value="">Select office</option>
        <option ng-repeat="office in offices" value={{office.id}}>{{office.unique_code}}</option>
      </select>
    </div>
    <div class="form-group roles">
      <select class="form-control" ng-model="formMembershipData.role">
        <option value="">Select role</option>
        <option ng-repeat="roles in roles" value={{role.id}}>{{role.role}}</option>
      </select>
    </div>
    <div class="alert alert-danger" ng-show="errMembershipMessageShow">
      <span ng-bind="errMembershipMessage"></span>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register Membership</button>
  </form>
</div>
{{{{/raw-helper}}}}
<script src="../js/controllers/register.js"></script>
