{{> leftrail}}
<div class="middle-rail" ng-controller="agentsController" data-ng-init="init()">
  <h3>All Agents</h3>
  <div id="agents-donut"></div>
  {{{{raw-helper}}}}
  <div class="col-md-6" style="margin: 15px 0">
    <select class="form-control" ng-model="currentDepartment" ng-change="selectDepartment()">
      <option value="">Select a deparment</option>
      <option ng-repeat="department in departments" value={{department.id}}>{{department.unique_code}}</option>
    </select>
  </div>
  <div class="col-md-6" style="margin: 15px 0" ng-show="showOffice">
    <select class="form-control" ng-model="currentOffice" ng-change="selectOffice()">
      <option value="">All Offices</option>
      <option ng-repeat="office in offices" value={{office.id}}>{{office.unique_code}}</option>
    </select>
  </div>
  {{{{/raw-helper}}}}
  <table class="table table-striped table-bordered table-hover table-responsive">
    <thead>
      <tr>
        <th>#</th>
        <th>Agent Name</th>
        <th>Agent Email</th>
        <th>Agent Phone</th>
        <th>Agent Role</th>
        <th>Agent Permission</th>
      </tr>
    </thead>
    {{{{raw-helper}}}}
    <tbody>
      <tr ng-repeat="agent in agents">
        <td>{{$index + 1}}</td>
        <td>{{agent.User.lastName + ", " + agent.User.firstName}}</td>
        <td>{{agent.User.email}}</td>
        <td>{{numberToPhone(agent.User.phone)}}</td>
        <td>{{agent.Role.role}}</td>
        <td><a ng-click="editAgent(agent)">Edit</a></td>
      </tr>
    </tbody>
    {{{{/raw-helper}}}}
  </table>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Agent</h4>
        </div>
        <div class="modal-body">
          <form class="form-edit-agent" ng-submit="updateAgent()">
            {{{{raw-helper}}}}
            <div>
              <label>Edit Roles</label>
              <select class="form-control" ng-model="currentRoleId">
                <option value="">Select a role</option>
                <option ng-repeat="role in roles" value="{{role.id}}">{{role.role}}</option>
              </select>
            </div>
            {{{{/raw-helper}}}}
            <button type="submit" class="btn btn-primary submit-form">Update Agent Role</button>
          </form>
          <hr />
          <form class="form-edit-permission" ng-submit="editPermission()">
            {{{{raw-helper}}}}
            <div>
              <label>Edit Permission</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" ng-model="permission.manage_member">Manage member</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" ng-model="permission.manage_write">Manage write</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" ng-model="permission.manage_read">Manage read</label>
            </div>
            <div class="checkbox disabled">
              <label><input type="checkbox" value="permission.manage_delete">Manage delete</label>
            </div>
            <button type="submit" class="btn btn-primary submit-form">Update Permission</button>
            {{{{/raw-helper}}}}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {{> loading}}
  {{> notification}}
</div>
{{> rightrail}}
<!-- JS for chart -->
<script src="../lib/raphael/raphael.min.js"></script>
<script src="../lib/morrisjs/morris.min.js"></script>
<!-- End JS for chart -->
<script src="../js/controllers/agents.js"></script>
