<link rel="stylesheet" type="text/css" href="../css/create_form.css">
{{> leftrail}}
<div class="middle-rail" ng-controller="createWorkflowController" data-ng-init="init()">
  <h3>Configure New Workflow Type</h3>
  <form ng-submit="createWorkflow()">
    <div>
      <label for="inputName">Workflow Name</label>
      <input type="text" id="inputName" ng-model="formWorkflow.name" class="form-control" placeholder="Workflow name" required autofocus>
    </div>
    <div>
      <label for="inputDesc">Workflow Description</label>
      <textarea class="form-control" rows="3" ng-model="formWorkflow.description" id="inputDesc" placeholder="Workflow description" required></textarea>
    </div>
    {{{{raw-helper}}}}
    <div>
      <label>Workflow Tag</label>
      <select class="form-control" ng-model="formWorkflow.tag_id">
        <option value="">Select Tag for Workflow</option>
        <option ng-repeat="tag in tags" value={{tag.id}}>{{tag.name}}</option>
      </select>
    </div>
    {{{{/raw-helper}}}}
    <div>
      <label>Flows Configure (in order)</label>
      {{{{raw-helper}}}}
      <fieldset data-ng-repeat="choice in choices">
        <div class="row" style="margin: 10px 0">
          <div class="col-md-6">
            <button type="button" class="btn btn-link" ng-click="removeItem($index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
            <strong>Main Process</strong>
            <select class="form-control" ng-model="choice.process_id">
              <option value="">Select main process</option>
              <option ng-repeat="process in processes" value={{process.id}}>{{process.name}}</option>
            </select>
          </div>
          <div class="col-md-6">
            <strong>Blocking processes</strong>
            <select class="form-control" multiple ng-model="choice.block_process_id">
              <option ng-repeat="process in processes" value={{process.id}}>{{process.name}}</option>
            </select>
          </div>
        </div>
      </fieldset>
      {{{{/raw-helper}}}}
      <button type="button" class="btn btn-primary pull-right" ng-click="addChoices()"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
    <div class="clearfix"></div>
    <button type="submit" class="btn btn-primary submit-form">Create New Workflow</button>
  </form>
</div>
{{> rightrail}}
<script src="../js/controllers/create_workflow.js"></script>
