<link rel="stylesheet" type="text/css" href="../lib/vis/dist/vis.min.css">
<link rel="stylesheet" type="text/css" href="../css/workflow.css">
{{> leftrail}}
<div class="middle-rail" ng-controller="workflowsController" data-ng-init="init()">
  <h3>All Workflow Types</h3>
  {{{{raw-helper}}}}
  <div class="col-md-6" style="margin: 15px 0">
    <select class="form-control" ng-model="currentTag" ng-change="selectTag()">
      <option value="">All Tags</option>
      <option ng-repeat="tag in tags" value={{tag.id}}>{{tag.name}}</option>
    </select>
  </div>
  {{{{/raw-helper}}}}
  <table class="table table-striped table-bordered table-hover table-responsive">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>View workflow</th>
      </tr>
    </thead>
    {{{{raw-helper}}}}
    <tbody>
      <tr ng-repeat="item in workflow_types">
        <td>{{$index + 1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td><a ng-click="viewProcess(item)">View Process</a></td>
      </tr>
    </tbody>
    {{{{/raw-helper}}}}
  </table>
  <a href="/create_workflow" class="btn btn-info" style="margin-left: 15px">Configure new workflow</a>
  {{> loading}}
  {{> notification}}
  <div id="myGraphModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">View Process Configure Details</h4>
        </div>
        <div class="modal-body">
          <div id="myworkflow"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{> rightrail}}
<script src="../lib/vis/dist/vis.min.js"></script>
<script src="../js/controllers/workflow.js"></script>

