{{> leftrail}}
<div class="middle-rail" ng-controller="workflowsController" data-ng-init="init()">
  <h3>All Workflow Types</h3>
  {{{{raw-helper}}}}
  <div class="col-md-6" style="margin: 15px 0">
    <select class="form-control">
      <option value="">All Tags</option>
      <option ng-repeat="tag in tags" value={{tag.id}}>{{tag.name}}</option>
    </select>
  </div>
  {{{{/raw-helper}}}}
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Tag Name</th>
        <th>Description</th>
        <th>Keywords</th>
        <th>View workflow</th>
      </tr>
    </thead>
    {{{{raw-helper}}}}
    <tbody>
      <tr ng-repeat="item in workflowtypes">
        <td>{{$index + 1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td><a ng-click="viewProcess(item.id)">View Process</a></td>
      </tr>
    </tbody>
    {{{{/raw-helper}}}}
  </table>
  {{> loading}}
  {{> notification}}
</div>
{{> rightrail}}
<script src="../js/controllers/workflow.js"></script>
